[tool.poetry]
name = "bin-package-manager"
version = "1.0.0"
description = "Bin package manager, a package manager based on Github release"
authors = ["lxl66566 <lxl66566@gmail.com>"]
license = "MIT"
readme = ["README.md", "docs/README.zh-CN.md"]
keywords = ["binary", "packaging", "release"]
repository = "https://github.com/lxl66566/bpm"
homepage = "https://github.com/lxl66566/bpm"
documentation = "https://github.com/lxl66566/bpm"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
packages = [{ include = "bpm" }]

[tool.poetry.dependencies]
python = "^3.11"
# lastversion = ">=3.5.0"
# simpleufcs = "^1.0.0"
# duckdb = "^0.9.2"
py7zr = { version = "^0.20.8", optional = true }
requests = "^2.31.0"
tqdm = "^4.66.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "tsinghua-pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
priority = "default"
